@use '../util/functions' as *;

.footer {
	&__boxes {
		padding: rem(40) rem(32);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	&__box {
		display: flex;
		flex-direction: column;
		margin-bottom: rem(20);

		&-logo {
			margin-bottom: 0;
			font-size: rem(40);
			font-weight: 400;

			.fa-solid {
				margin-right: rem(7);
				color: var(--gray);
			}
		}

		&-title {
			margin: 0;
			font-size: rem(22);
		}

		&-list {
			margin: 0;
			padding: 0;
			list-style: none;

			&-item {
				margin: 9px 0;
			}

			&-link {
				color: var(--gray);
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__bottom-text {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: rem(10);
		font-size: rem(14);
		color: var(--gray);
	}

	&__year {
		margin: rem(2);
	}
}

// // sm
// @media (min-width: 576px) {}

// // md
@media (min-width: 768px) {
	.footer {
		&__boxes {
			flex-direction: row;
			justify-content: space-around;
		}

		&__container {
			display: flex;
		}

		&__box {
			margin: 0 rem(20);

			&-logo {
				font-size: rem(45);
			}

			&-title {
				font-size: rem(25);
			}

			&-list {
				&-item {
					font-size: rem(17);
				}
			}
		}
	}
}

// //lg
@media (min-width: 992px) {
	.footer {
		&__boxes {
			padding: rem(50);
		}

		&__box {
			margin: 0 rem(30);

			&-logo {
				font-size: rem(50);

				.fa-solid {
					margin-right: rem(9);
				}
			}
		}
	}
}

// //xl
@media (min-width: 1200px) {
	.footer {
		&__boxes {
			padding: rem(55);
		}

		&__bottom-text {
			padding: rem(15);
			font-size: rem(18);
		}
	}
}

// //xxl
// @media (min-width: 1400px) {}
